* {
    margin-top: 0;
}

.bg_main {
    background-color: #3F3F37;
    color: #878472;
}

.bg_second {
    background-color: #D6D6B1;
    color: #494331;
}

.bg_acc1 {
    background-color: #494331;
    color: #d6d6b1;
}

.bg_acc2 {
    background-color: #878472;
    color: #3f3f37;
}

h1 {
    margin: 20px;
    font-size: 3em;
}

h2 {
    margin: 20px;
    font-size: 2em;
}

.spaced_heading {
    margin-top: 200px;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 120px;
    margin: 0;
}

nav h1 {
    margin: auto 0;
}

a {
    margin: auto 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.button_main {
    margin: auto 0;
}

.button_main a {
    padding: 20px;
    background-color: #3F3F37;
    color: #878472;
}

.button_main a:hover {
    background-color: #494331;
    color: #d6d6b1;
}

.button_second a {
    background-color: #D6D6B1;
    color: #494331;
}

.button_second a:hover {
    background-color: #878472;
    color: #3f3f37;
}

.centered {
    justify-content: center;
    text-align: center;
}

.center_me {
    justify-self: center;
}

#daily_recipe {
    width: 50%;
    height: 400px;
    margin: 0 auto 200px auto;
}